.App {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.Title {
  background-color: #d6172d;
  min-height: 8vh;
  min-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(16px + 1vmin);
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: white;
}

body {
  background: linear-gradient(
    to top,
    #1e9ac8,
    #5cc8e0,
    #f3e16d,
    #f6c337,
    #ffad42
  );
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Listing {
  background-color: #f6c337;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(6px + 1vmin);
  box-shadow: 4px 4px 10px rgba(93, 54, 1, 0.2);
  position: sticky;
  top: 0;
  z-index: 100;
}

input[type='text'] {
  color: #b56a24;
  font-weight: bold;
  background-color: #ffe09e;
  border: 1px solid #ffc531;
}
input[type='file'] {
  color: #e6b52d;
  font-weight: bold;
  background-color: #ffe09e;
  border: 1px solid #ffc531;
}

input::placeholder {
  color: #e6b52d;
  font-weight: bold;
}

.filter {
  transition: transform 0.3s ease;
}

.filter:hover {
  transform: scale(1.1); 
}


.ItemListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1500px;
}

.ItemList {
  background-color: rgba(56, 204, 245, 0.3);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 330px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-size: calc(10px + 1vmin);
  color: rgb(255, 255, 255);
}

.ItemList img {
  width: 250px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.ItemList p {
  text-align: center;
  margin-top: 15px;
  line-height: 1.5;
}

.ItemName {
  font-size: 18px;
}

.ItemCategory {
  font-size: 18px;
  color: #4a9999;
}

@media (max-width: 768px) {
  .ItemListContainer {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* From Uiverse.io by gharsh11032000 */ 
.button {
  cursor: pointer;
  position: relative;
  padding: 10px 24px;
  font-size: 18px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color:  rgb(223, 53, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  scale: 1.1;
}

.button:active {
  scale: 1;
}


